

li {
	list-style-type: none;
	display: inline;
	font-size: 15px;
margin-left: 0.7rem;
margin-right: 0.7rem;
}


.rigt-nav{
text-align: right;
list-style: none;
padding-right: 50px;
} 



.nav-logo {
	background-color: white;
	margin-left: 30px;
	float: left;
	display: inline;
}

.nav {
margin: 0.5rem;
display: inline;
}

nav{
	background-color: white;
	padding: 10px;
	width: 98.5%;
	position: sticky;
	top: 10px;
}



 
.front-bg {
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 60vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
} 

.pre-footer {
    background-color: #daf5f5;
    padding: 1rem;
    text-align: center;

}

.prefooter-description {
    margin-top: 3rem;
    margin-right: 16rem;
    margin-left: 9rem;

}

#footer {
	    width: 8rem;
    padding: .3rem;
    margin-top: 1rem;
    margin-bottom: 9rem;
}

.intro {
	background-color: #f7fbfb;
    padding: 1rem;
    text-align: center;
}

.intro-description {
	margin-top: 3rem;
    margin-right: 16rem;
    margin-left: 9rem;
}

.book-button {
    background-color: #336589;
    color: white;
    border-radius: 1rem;
    font-size: 1rem;
    width: 8rem;
    padding: .3rem;
    margin-top: 1rem;
    margin-bottom: 9rem;
}

.tuitt-button{

    background-color: #c2195b;
    border-radius: 35px;
    color: white;
    border: 1px solid #c2195b;
    float: right;
    height: 30px;
    width: 100px;
}



.bg-image{
background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
width: 100vw;
background-size: 100%;
height: 50vh;
background-position: center;
background-repeat: no-repeat;

}

.font-bg{
    display: inline-block;
    padding: 10px 0px 30px 20px;


}
.container{
    color: white;
    text-align: right;
    margin-right: 100px;

float: right;



}

.title{
    font-size: 30px;
    /text-indent:750px ;/
    font-family: 'Zilla Slab', serif;
max-width: 30ch;


}

.subtitle{
float: right;
font-size: 18px;
max-width: 40ch;


}

.subtitle {
    text-align: right;
    font-size: 15px;
    font-weight: 33;
    color: white;
    margin-right: 50px;
    margin-top: 50px;
    word-spacing: 5px;
}



.apply-button{

    background-color: #c2195b;
    border-radius: 35px;
    color: white;
    border: 1px solid #c2195b;
    float: right;
    height: 30px;
    width: 100px;
}


}


/*.container h2 {
	clear: both;
	font-weight: normal;
	font-size: 1em;
	margin-left: 70%;
	margin-bottom: .5em;
	font-family: "Zilla Slab";
}*/





